/* Yahoo! CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, blockquote, th, td {	margin: 0;	padding: 0;}
table {border-collapse: collapse;	border-spacing: 0;}
fieldset, img {	border: 0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style: normal;font-weight: normal;}
ol, ul {list-style: none;}
caption, th {text-align: left;}
q:before, q:after {content: '';}
html {height: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
abbr, acronym {border: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}

h1 {
}
.text h2 {
	font-size: 20px;
	
}
.text h3 {
	font-size: 18px;
	
	line-height: 25px;
	margin-left: 0px;
	}
h4 {}
h5 {}
h6 {}
a {}
a:hover{}
p{}


body {
	font: 12px/18px 'Trebuchet MS', sans-serif;
	width: 100%;
	height: 100%;
}
.nav, .header, .content, .footer{width: 920px;	margin: 0 auto;}
.wrapper {	
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
nav{
	background: url(../images/bg_nav.jpg);
	height: 55px;
	
	
}
.nav{width: 960px;height: inherit;}
.nav ul{margin-left: 7px;}
.nav li a{
	float: left;
	color: #f7ffff;
	font-size: 16px;
	text-decoration: none;
	padding: 18px 10px 26px;

}
.nav li a:hover{
color: #b0f4f4;
text-decoration: underline;
}
.active{
background: url(../images/bg_active.jpg);
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}

header {
	height: 62px;
	background: #f3fcfe;
	padding-top: 26px;
}
.header{

}
.header img{
	margin-top: -12px;
display: inline-block;
vertical-align: top;
float: left;
}
.contact {
margin-top: -5px;
float: right;
text-align: right;
}
.contact h2{
	color: #33c644;
	font-size: 20px;
	font-weight: bold;
}
.contact h2 span{
	font-size: 30px;
}
.contact p{
	color: #317ee2;
	font-size: 14px;
	font-style: italic;
	margin: -2px 0px 5px 0px;
}
section{
	height: 301px;
	background: url(../images/bg_banner.jpg);
}
.banner img{
	margin: 13px 0px 0px 0px;
	display: inline-block;
	vertical-align: top;
	float: left;
}
.sale{
	display: inline-block;
	vertical-align: top;
	margin: 64px 0px 0px -22px;
	float: left;
}
.sale h3{
	color: #f7ffff;
	font-size: 30px;
	font-weight: bold;
}
.sale p{
	color: #f7ffff;
	font-size: 16px;
	margin: 19px -11px 0px 0px;
	text-align: right;
}
.sale a {
	color: #33c644;
	font-size: 25px;
	text-decoration: none;
	background: #fff;
	border-bottom: 2px solid #33c644;
	float: right;
	margin: 56px -11px 0px 0px;
	padding: 9px 30px 9px 20px;
	border-radius: 4px;
}
.anketa{
	width: 368px;
	height: 300px;
	background: url(../images/anketa.png);
	float: right;
	margin: 0px -29px 0px 0px;
}
.anketa form{
	width: 224px;
	margin-left: 97px;
	margin-top: 28px;
}
.anketa form h4{
	color: #317ee2;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	border-bottom: 1px solid #81d297;
}
.anketa form input[type="text"]{
	font-size: 16px;
	color: #939292;
	font-style: italic;
	border: 0;
	outline: 0;
	margin: 27px 0px 0px 0px;
	background: none;
	border-bottom: 1px solid #81d297;
	width: 224px;
	height: 17px;
	letter-spacing: -0.79px;
}
.anketa form input.les{
	color:#303058;
}
.anketa form input[type="button"]{
	border: 0;
	outline: 0;
	color: #317ee2;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	background: url(../images/but.png) no-repeat;
	margin: 36px 0px 0px 0px;
	padding-bottom: 15px;
	background-position: 0px 19px;
	cursor: pointer;
}
.anketa form input[type="button"]:hover{
color: #F3B923;
}
.blocks{background: #f3fcfe;}
.block{
	width: 218px;
	height: 189px;
	display: inline-block;
	vertical-align: top;
	margin: 29px 12px 10px 0px;
	padding-top: 11px;
	box-shadow: 0px 1px 0px 1px #e6eef0;
	border-radius: 7px;
	background: #fff;
	text-decoration:none;
}
.block:nth-child(4n){margin-right:0;}
.block:hover{box-shadow: 0px 0px 0px 2px #33c644;}
.block:hover>p{background-position: 0 -41px;}
.block:hover>h3{color: #33c644;}
.block h3{
	color: #2f2f59;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
.block span{font-weight:bold}
.block i{
	font-weight: normal;
	font-style:normal;
	font-size: 15.56px;
	color: #939292;
	float:left;
	padding-left: 19px;
}
.block b{
	font-weight: normal;
	font-style:normal;
	font-size: 15.56px;
	color: #939292;
	float:right;
	padding-right: 19px;
}
.block p{
	clear: both;
	display: block;
	font-size:22px;
	color: #f7ffff;
	font-weight: bold;
	background: url(../images/zakaz.png) no-repeat;
	background-position: 0 0;
	margin: 21px 0px 0px 0px;
	padding: 10px 0px 6px 64px;
	text-decoration: none;
}
.b1{
	width: 123px;
	height: 96px;
	margin: 21px auto 0;
	background: url(../images/sprite.png) no-repeat;
	background-position: 0px 0px;
}
.block:hover>.b1{background-position: -151px 0px;}
.b2{
	width: 123px;
	height: 114px;
	margin: 3px auto 0px;
	background: url(../images/sprite.png) no-repeat;
	background-position: 0px -101px;
}
.block:hover>.b2{background-position: -160px -95px;}
.b3{
	width: 123px;
	height: 88px;
	margin: 11px auto 0;
	background: url(../images/sprite.png) no-repeat;
	background-position: 24px -232px;
}
.block:hover>.b3{background-position: -110px -232px;}
.b4{
	width: 123px;
	height: 106px;
	margin: 11px auto 0;
	background: url(../images/sprite.png) no-repeat;
	background-position: 8px -339px;
}
.block:hover>.b4{background-position: -145px -340px;}
.b5{
	width: 94px;
	height: 97px;
	margin: 4px auto 0;
	background: url(../images/sprite.png) no-repeat;
	background-position: 8px -449px;
}
.block:hover>.b5{background-position: -111px -449px;}
.b6{
	width: 100px;
	height: 97px;
	margin: 4px auto 0;
	background: url(../images/sprite.png) no-repeat;
	background-position: 8px -556px;
}
.block:hover>.b6{background-position: -104px -556px;}
.b7{
	width: 125px;
	height: 115px;
	margin: 4px auto 1px;
	background: url(../images/sprite.png) no-repeat;
	background-position: 7px -664px;
}
.block:hover>.b7{background-position: -111px -664px;}
.b8{
	width: 94px;
	height: 97px;
	margin: 4px auto 1px;
	background: url(../images/sprite.png) no-repeat;
	background-position: 7px -766px;
}
.block:hover>.b8{background-position: -117px -766px;}
.lenta{
	width: 100%;
	height: 143px;
	background: url(../images/lenta.png) no-repeat;
	background-position: center;
	margin-top: 70px;
	color: #fff;
	font-size: 16px;
}
.lenta>.content div{
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	float: left;
}
.lenta>.content {padding: 26px 0px 0px 0px;}
.lenta>.content p{
	margin: 0px 0px 11px 0px;
	line-height: 20px;
}
.lenta>.content h3{
	font-size:26px;
	font-weight:bold;
	font-style:italic;
}
.center {
	text-align: center;
	margin: -3px 0 0px 95px;
}
.center h3{margin-bottom: 34px;}
.right {
	text-align: right;
	float:right!important;
}
.row1{
	height: 205px;
	background: url(../images/bg_row1.jpg) repeat-x;
	padding-top: 14px;
}
.row1 li {margin-bottom: 1px;}
.row1 h3{margin-bottom: 13px;}
.col1{
	display: inline-block;
	vertical-align: top;
}
.col2{
	display: inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 83px;
}
.col3{
	display: inline-block;
	vertical-align: top;
	text-align: right;
	float: right;
}
/*
.col3 h3{
	font-size:24px;
	line-height: 28px;
	margin-top: -5px;
}
*/
.col3 h3 span{font-size:20px;}
.col3 h3.f1{margin: 33px 0px 0px 0px;}
.col3 a{
	color: #33c644;
	font-size: 25px;
	text-decoration: none;
	background: #fff;
	border-bottom: 2px solid #33c644;
	float: right;
	margin: 9px 0px 0px 0px;
	padding: 9px 30px 9px 20px;
	border-radius: 4px;
}

.color{color: #33c644}
.row2{
	height: 58px;
	background: #1a4a89;
	padding-top: 22px
}
.r1{
	display: inline-block;
	vertical-align: top;
}
.r1 p{}
.r2{
	display: inline-block;
	vertical-align: top;
	margin: -2px 276px 0px 100px;
}
.r3{
	display: inline-block;
	vertical-align: top;
}
.r3 p{}
.r2 img{opacity: 0.6;}
.r2 img:hover{opacity: 1;}
footer {
	margin: -229px auto 0;
	height: 300px;	
	position: relative;
	color:#fff;
	font-size: 16px;	
}
footer h3{
	font-size:20px;
	font-weight:bold;
	font-style:italic;
}
footer a{
	color:#fff;
	text-decoration: none;
}
footer a:hover{
	color: #F3B923;
}
.order h1{
	font-weight:bold;
	font-style: italic;
	color: #2f2f59;
	font-size: 22px;
}
.order {padding-top: 29px;}
.order form input{
border: 0;
padding: 4.5px;
width: 564px;
border-radius: 5px;
box-shadow: 0px 3px 4px 0px #bec5c6;
outline: 0;
color: #317ee2;
font-size: 16px;

}
.order form input:focus, .order form span textarea:focus{box-shadow: 0px 0px 0px 2px #317ee2!important;color: #317ee2!important;}

.order form label{
float: left;
width: 280px;
color: #919191;
font-size:16px;
margin-top: 3px;
}
.order form {margin: 54px 0px 0px 0px;position:relative;}
.order span{
	display: block;
	margin: 0px 0px 15px 0px;
}
#type_work, #note, #datepicker, #page{
width:209px;
border: 0;
padding: 2px;
border-radius: 5px;
box-shadow: 0px 3px 4px 0px #bec5c6;
outline: 0;
color: #317ee2;
font-size: 16px;
}

/*input::-webkit-input-placeholder {color: #317ee2;font-style: italic;}
input::-moz-placeholder {color: #317ee2;font-style: italic;}*/
.order form span input.errors{
	color: #ff0000;	
	box-shadow: 0px 0px 0px 2px #ff0000;
}
.order form span textarea{
	width: 552px;
	height: 82px;
	padding: 10px;
	border: 0;
	border-radius: 5px;
	box-shadow: 0px 3px 4px 0px #bec5c6;
	resize: vertical;
}
.order form input[type="file"]{
width: auto;
box-shadow: none;
color: #919191;
}
.order form input[type="submit"]{
	width: auto;
	box-shadow: none;
	color: #33c644;
	font-size: 25px;
	text-decoration: none;
	background: #fff;
	border: 2px solid #33c644;
	padding: 4px 25px 4px 27px;
	border-radius: 4px;
	float: right;
	margin: -104px 0px 0px 0px;
	cursor: pointer;
}
.order form i{color:red;}
.contacts>div{
	display: inline-block;
	vertical-align: top;
	width: 220px;
	height: 216px;
	margin: 37px 0px 0px 0px;
	background: #fff;
	box-shadow: 0px 3px 1px 0px #bec5c6;
	border-radius: 5px;
}
.contacts h2{
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	background: url(../images/bg_title.png) repeat-x;
	padding: 8px 0px;
	text-align: center;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-bottom: 26px;
}
.contacts p {
color: #2f2f59;
font-size: 19px;
text-align: center;
line-height: 27px;
min-height: 86px;
}
.contacts p a{
	font-size: 18px;
	color: #2f2f59;}

.contacts p.image{}
.contacts>div.con2{
	margin-left:9px;
	margin-right: 10px;
	font-size: 20px;
}
.contacts>div.con4 {
margin-left: 8px;
}

main {
	padding: 0 0 300px;
	background: #f3fcfe;
}

.text{}

.text h1{
font-weight: bold;
font-style: italic;
color: #2f2f59;
font-size: 22px;
padding-top: 30px;
padding-bottom: 43px;
}
.text p {
font-size: 16px;
color: #4c4c4e;
line-height: 20px;
letter-spacing: 0.08px;
margin-bottom: 6px;
}
.text ul{}
.text li{
	font-size: 16px;
	color: #4c4c4e;
	line-height: 20px;
	letter-spacing: 0.08px;
}
.text li:before{
	content: '»';
	margin-right: 8px;
}
.error{
	color: red;
	margin-bottom: -18px;
	text-align: center;
}

#loader {
  position:fixed; display:none;
  top:0; left:0;
  height:100%; width:100%;
  background:#ccc; opacity:.7;
  z-index: 10;
}
#loader span {
  display:block; position:absolute; right:50px; top:35px;
  color:#fff; background:#C71D72;
  padding:5px 10px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px;
  border-radius: 5px; cursor:default;
  z-index: 13;
}

.errorlist{
	color: red;
	margin-left: 100px;
}
.thanks{
	text-align: center;
	margin-top: 97px;
	font-size: 17px;
}
form li{
	list-style: none;
	margin: 13px auto;
}

form li select{
	width: 209px;
border: 0;
padding: 2px;
border-radius: 5px;
box-shadow: 0px 3px 4px 0px #bec5c6;
outline: 0;
color: #317ee2;
font-size: 16px;
}
a.button{
color: #33c644;
font-size: 25px;
text-decoration: none;
background: #fff;
border: 2px solid #33c644;
padding: 9px 30px 9px 20px;
border-radius: 4px;
}
a.button:hover{border: 2px solid #33c644;margin-left:-2px;color: white;background: #33c644;}

/* bx-slider */
  
  .bx-wrapper, .bx-window {
   width: 604px !important;
   height: 430px !important;
  }
  
   .bx-pager {
    position:relative;
    //float:left;
    //left:50%;
    padding:6px 0 0 0;
    text-align:center;
   }
   
    .bx-pager a {
     background: url(../images/sprite_slider.png) no-repeat -982px -12px;
     display:inline-block;
     //display:block;
     //float:left;
     position:relative;
     overflow:hidden;
     width:13px;
     height:12px;
     margin:0 3px;
     text-decoration:none;
     cursor:pointer;
     text-indent:-10000px;
    }
    
    .bx-pager a.pager-active {
     background-position: -982px top;
    }
  
   .bx-wrapper ul, .slidePic ul, .gallery ul {
    display:block;
    position:relative;
    width: 604px;
    height:430px;
    margin:0;
    padding:0;
   }
   
    .bx-wrapper li, .slidePic li, .gallery li {
     background:none;
     display:block;
     position:absolute;
     left:0;
     top:0;
     height:430px;
     margin:0;
     padding:0;
    }

                .gallery li {
                    width:604px !important;
                }

                .slidePic li {
                    width: 5802px;
                }
    
    .bx-wrapper li {
     line-height:430px;
     text-align:center;
    }
    
     .bx-wrapper li img {
      margin:0 auto;
      line-height:430px;
      vertical-align:middle;
     }
     
     .bx-wrapper .border {
      //background:url(../images/sprite_slider.png) left -48px no-repeat;
      position:absolute;
      left:0;
      top:0;
      width:580px;
      height:280px;
      z-index:2;
     }
  
  /* /bx-slider */
  
  /* slide pic */
  
  .slidePic {
   margin: 10px auto;
   float: left;
   background:url(../images/sprite_slider.png) left 590px no-repeat;
   position:relative;
   overflow:hidden;
   clear:both;
   //width:590px;
   //height:300px;
   //padding:0 0 48px 0;
  }

        .slidePic .bx-wrapper, .slidePic .bx-window {
            width: 570px !important;
            height: 280px !important;
        }

  /* /slide pic */

.diplom_h{
	cursor: pointer;
	margin-bottom: 0px;
}
.hide_div{
	display: none;
}

.placeholder ::-webkit-input-placeholder{
	color: red;
	font-size: 12px;
}

.placeholder :-moz-placeholder { 
	color: red;
	font-size: 12px; 
}
.success{
	font-size: 23px;
	text-align: center;
	padding-top: 160px;
}