{% extends "index.html" %}
<!DOCTYPE html>
	{% block title %}<title>Контакты</title> {% endblock %}
{% block main %}
	<main>		
		<div class="content contacts">
			<div class="con1">
				<h2>Звоните нам:</h2>
				<p>+7 (4932) 50-60-50</p>
				<p class="image"><img src="{{STATIC_URL}}images/phone.png" alt=""></p>				
			</div>
			<div class="con2">
				<h2>Почта</h2>
				<p><a href="info@studacademia.ru">info@studacademia.ru</a><br>жалобы и предложений
				<a href="mailto:mnenie@studacademia.ru">mnenie@studacademia.ru</a></p>
				<p class="image"><img src="{{STATIC_URL}}images/email.png" alt=""></p>		
			</div>
			<div class="con3">
			<h2>Наш адрес</h2>
				<p>г.Иваново <br> ул. Советская, д.22 <br> офис 306</p>
				<p class="image"><img src="{{STATIC_URL}}images/www.png" alt=""></p>		
			</div>
			<div class="con4"><script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "220", height: "200", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 19929911);
</script></div> 
			
		</div>	
	</main>
{% endblock %} 