{% load utils %}
{% load flatblock_tags %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
<title>Студакадемия</title>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<meta name="keywords" content="" />
	<meta name="description" content="" />


	{% block css %}<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">{% endblock %}
	{% block js %}
		<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
		<script src="{{STATIC_URL}}js/main.js"></script>
		<script src="{{STATIC_URL}}js/jquery.bxslider.js"></script>
		<script src="{{STATIC_URL}}js/tytabs.jquery.min.js"></script>
	{% endblock %}
	{% block ext %}{% endblock %}
</head>

{% block body %}
<body>
<div id="loader"><span>Загружаю...</span></div>
<div class="wrapper">
{% block head_menu %}
	<nav>
		<div class="nav">
			<ul>
				{% flatpage_menu %}	                                
			</ul>
		</div>
	</nav>
{% endblock %}
	<header>
		<div class="header">
			<a href="/"><img src="{{STATIC_URL}}images/logo.png" alt="Stud Academia. Качество. Ответственность. Профессионализм."></a>
			<div class="contact">
				<h2>info@studacademia.ru</h2>
				<p></p>
				<h2>+7(4932)-50-60-50</h2>		
			</div>		
		</div>
	</header>
	{% block main %}
	<main>		
		<section>
			<div class="content">
				<div class="banner">
				{% if slider %}
					<div class="slidePic">
						<ul class="bxslider">
						{% for slide in slider %}
						  <li><a href="{{ slide.url }}"{% if slide.target %} target="_blank"{% endif %}>
		                    {% thumbnail slide.image '580x290' upscale=False  as im %}
		                        <img src="{{ im.url }}" title="{{ slide.name }}" alt="{{ slide.name }}">
		                    {% endthumbnail %}
                    		<span class="border"></span></a></li>
                    	{% endfor %}
						</ul>
					</div>
				{% else %}
					<img src="{{STATIC_URL}}images/men.png" alt="">
					<div class="sale">
						<h3>Получи скидку 20%</h3>
						<p>на все виды наших услуг <br> только сегодня, до конца дня!</p>
						<a href="{% url 'show_work_form' %}">Получить</a>
					</div>
				{% endif %}
					<div class="anketa">
						<form name="work_price" id="work_price" action="/ajax/">
							<h4>Срочная заявка</h4>
							<input name="name"						
								value="Ваше имя?"
								type="text"
								onfocus="if (this.value=='Ваше имя?') this.value='' "
								onblur="if (this.value==''){this.value='Ваше имя?'}" 						
							>
							<input	name="phone"						
								value="Номер телефона (+7ХХХХХХХ)"
								type="text"
								onfocus="if (this.value=='Номер телефона (+7ХХХХХХХ)') this.value='' "
								onblur="if (this.value==''){this.value='Номер телефона (+7ХХХХХХХ)'}" 			
							>
							<input name="subject"
								class="les"
								value="Название работы"
								type="text"
								onfocus="if (this.value=='Название работы') this.value='' "
								onblur="if (this.value==''){this.value='Название работы'}" 			
							>
							<div class="error">&nbsp;</div>
							<a> <input type="button" id="price" value="Узнать стоимость"></a>

						</form> 
					</div>	
				</div>				
			</div>
		</section>
		<div class="content blocks">
		{% for single in uslugi %}
				{% if single.link %}
					<a  class="block" href="/page/{{ single.link.slug }}">
				{% else %}
					<a   class="block" href="{{ single.get_absolute_url }}">
				{% endif %}
				<h3>{{ single.title}}</h3>
				<div class="{{ single.background_class }}"></div>
				<i><span>{{ single.price }}</span></i>
				<b><span>{{ single.day }}</span></b>
				{% if single.link %}
					<p href="/page/{{ single.link.slug }}">Подробнее</p>
				{% else %}
					<p href="{{ single.get_absolute_url }}">Заказать</p>
				{% endif %}
			</a>	
		{% endfor %}
		</div>	
		<div class="lenta">
			<div class="content">		
				<div class="left">
					<p>Контроль качества,<br> антиплагиат — от 80%</p>
					<p>Бесплатная доработка заказов*</p>
				</div>
				<div class="center">
					<h3>Наши преимущества</h3>
					<p>Гарантия на работу 2 месяца</p>
				</div>
				<div class="right">
					<p>Профессиональная <br> команда преподавателей</p>
					<p>Скидки постоянным клиентам</p>
				</div>
			</div>
		</div>		
	</main>
	{% endblock %}
</div>
{% block footer %}
<footer>
	{% flatblock "google_analitics"  %}
	<div class="row1">
		<div class="footer">
			{% bottom_menu %}
			<div class="col3">		
				<h3>Остались вопросы? Звоните!<br>info@studacademia.ru<br><span>+7 (4932)</span> 50-60-50</h3>
				<h3 class="f1">Хотите заказать работу?</h3>
				<a href="{% url 'show_work_form' %}">Заказать</a>
			</div>
		</div>
	</div>
	<div class="row2">
		<div class="footer">
			<div class="r1"><p>® Все права защищены <br> © visitsite, 2013</p></div>
			<div class="r2"><a href="#" target="_blank"><img src="{{STATIC_URL}}images/vk.png" alt="vk"></div>
			<div class="r3">
				<p>Создание сайта:
					<a href="http://place-start.ru/" target="_blank">
						<img src="{{STATIC_URL}}images/placestart.png" alt="Разработка сайтов, компания Place-start">
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}
</body>
{% endblock %}
</html>

