{% extends "index.html" %}
	{% block title %}<title>Заказ рыботы</title>{% endblock %}
	{% block ext%}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  	<script src="{{STATIC_URL}}js/ru.js"></script>
  	<script>
  $(function() {
    $( "#id_date" ).datepicker();
	  $.datepicker.setDefaults({
	  showOn: "both",
	  buttonImageOnly: true,
	  buttonImage: "calendar.gif",
	  buttonText: "Calendar",
	});
	$.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
  });
  </script>
{% endblock %}
{% block main %}
	{% if thanks %}<h1 class="success">Спасибо.Ваш заказ принят</h1>
	<script>
	$(document).ready(function(){
		function go_on(){
			document.location.href = '/';
		}
		setTimeout(go_on,5000);
	});
	  </script>
	{% else %}
	<main>
	<div class="content order">
		<h1>Заказ работы</h1>

		<form name="order_form" action="" method="POST"  enctype="multipart/form-data">{% csrf_token %}
		<input type="hidden" name="action" value="order"/>
			{% for field in form %}
				{% if field.errors %}
					<li class="placeholder">{{ field.label_tag }}{{ field }}</li>
				{% else %}
					<li>{{ field.label_tag }}{{ field }}</li>
				{% endif %}
			{% endfor %}
			 <input type="submit" value="Заказать">
		</form>
	</div>	
	</main>
	{% endif%}
{% endblock %}
