{% extends "index.html" %}
	{% block main %}
	<main>
	{% if thanks %}
		<h1 class="success">Спасибо.Ваш заказ принят</h1>
		<script>
		$(document).ready(function(){
			function go_on(){
				document.location.href = '/';
			}
			setTimeout(go_on,5000);
		});
		  </script>
	{% else %}
	{% if which_form %}
			{% if which_form == 'repetitor' %}
				<div class="content order">
				<h1>Анкета репетитора</h1>
					<form name="" action="" method="POST"  enctype="multipart/form-data">{% csrf_token %}
						{% for field in form %}
							{% if field.name == 'name' %}<h1 class="prepare">Ваши ФИО</h1>{% endif %}
							{% if field.name == 'city' %}<h1 class="prepare">Контакты</h1>{% endif %}
							{% if field.name == 'vuz' %}<h1 class="prepare">Сведения об образовании</h1>{% endif %}
							{% if field.name == 'stage' %}<h1 class="prepare">Педагогический стаж</h1>{% endif %}
							{% if field.name == 'subjects' %}<h1 class="prepare">Преподаваемые Вами предметы</h1>{% endif %}
							{% if field.name == 'doschool' %}<div class="checkbox_div"><h1 class="prepare">Укажите программу репетиторства, которую Вы хотели бы вести</h1>{% endif %}
							{% if field.name == 'zero_ur' %}</div><h1 class="prepare">Уровень подготовленности ученика</h1>{% endif %}
							{% if field.name == 'mesto_this' %}<h1 class="prepare">Место проведения занятий</h1>{% endif %}
							
							{% if field.errors %}
								<li class="placeholder">{{ field.label_tag }}{{ field }}</li>
							{% else %}
								<li>{{ field.label_tag }}{{ field }}</li>
							{% endif %}

						{% endfor %}
				 	<input class="submit_button" type="submit" value="Заказать">
					</form>
				</div>
			{% endif %}

			{% if which_form == 'manager' %}
				<div class="content order">
				<h1>Анкета менеджера</h1>
					<form name="" action="" method="POST"  enctype="multipart/form-data">{% csrf_token %}
						{% for field in form %}
							{% if field.name == 'name' %}<h1 class="prepare">Ваши ФИО</h1>{% endif %}
							{% if field.name == 'city' %}<h1 class="prepare">Контакты</h1>{% endif %}
							{% if field.name == 'vuz' %}<h1 class="prepare">Сведения об образовании</h1>{% endif %}
							
							{% if field.errors %}
								<li class="placeholder">{{ field.label_tag }}{{ field }}</li>
							{% else %}
								<li>{{ field.label_tag }}{{ field }}</li>
							{% endif %}

						{% endfor %}
				 	<input class="submit_button" type="submit" value="Заказать">
					</form>
				</div>
			{% endif %}


			{% if which_form == 'author' %}
				<div class="content order">
				<h1>Анкета автора</h1>
					<form name="" action="" method="POST"  enctype="multipart/form-data">{% csrf_token %}
						{% for field in form %}
							{% if field.name == 'name' %}<h1 class="prepare">Ваши ФИО</h1>{% endif %}
							{% if field.name == 'city' %}<h1 class="prepare">Контакты</h1>{% endif %}
							{% if field.name == 'vuz' %}<h1 class="prepare">Сведения об образовании</h1>{% endif %}
							{% if field.name == 'biznes_plan' %}<h1 class="prepare">Укажите уровни сложности (типы) работ, которые Вы могли бы выполнять:</h1>{% endif %}
							{% if field.name == 'design' %}<h1 class="prepare">Укажите направления, по которым Вы можете писать работы</h1><span class="helpiz">Гуманитарное</span>{% endif %}
							{% if field.name == 'astronomija' %}<span class="helpiz">Естественное</span>{% endif %}
							{% if field.name == 'vishka' %}<span class="helpiz">Техническое</span>{% endif %}
							{% if field.name == 'antikrizic' %}<span class="helpiz">Антикризисное управление</span>{% endif %}		
							
							{% if field.errors %}
								<li class="placeholder">{{ field.label_tag }}{{ field }}</li>
							{% else %}
								<li>{{ field.label_tag }}{{ field }}</li>
							{% endif %}

						{% endfor %}
				 	<input class="submit_button" type="submit" value="Заказать">
					</form>
				</div>
			{% endif %}



			{% if which_form == 'translate' %}
				<div class="content order">
				<h1>Анкета переводчика</h1>
					<form name="" action="" method="POST"  enctype="multipart/form-data">{% csrf_token %}
						{% for field in form %}
							{% if field.name == 'name' %}<h1 class="prepare">Ваши ФИО</h1>{% endif %}
							{% if field.name == 'city' %}<h1 class="prepare">Контакты</h1>{% endif %}
							{% if field.name == 'vuz' %}<h1 class="prepare">Сведения об образовании</h1>{% endif %}
							{% if field.name == 'stage' %}<h1 class="prepare">Опыт работы переводчиком</h1>{% endif %}
							{% if field.name == 'na_ino' %}<h1 class="prepare">Направления перевода</h1>{% endif %}
							{% if field.name == 'pismeni' %}<h1 class="prepare">Вид перевода</h1>{% endif %}
							{% if field.name == 'finansi' %}<h1 class="prepare">Предпочитаемые тематики переводов:</h1>{% endif %}
							{% if field.name == 'ustn_per' %}<h1 class="prepare">Желаемая зарплата</h1>{% endif %}
							{% if field.name == 'ustn_per_2' %}<h1 class="prepare">Минимальная зарплата</h1>{% endif %}
							{% if field.name == 'na_ino_lang' %}<h1 class="prepare">Работа в качестве редактора переводимых текстов</h1>{% endif %}
							
							{% if field.errors %}
								<li class="placeholder">{{ field.label_tag }}{{ field }}</li>
							{% else %}
								<li>{{ field.label_tag }}{{ field }}</li>
							{% endif %}

						{% endfor %}
				 	<input class="submit_button" type="submit" value="Заказать">
					</form>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
	</main>
{% endblock %}